*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $cream;
    font-size: .875rem;
    font-family: 'Montserrat', sans-serif;
}

main {
    padding-bottom: 1.5em;
    width: 95%;
    max-width: 500px;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    @media(min-width: 900px) {
        display: flex;
        padding: 0;
        margin: 0;
        width: 65%;
        max-width: 600px;
    }
}

p {
    color: $dark-grayish-blue;
    line-height: 1.5em;
}

h1 {
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
}